*{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    
}


body{
    overflow-x: hidden;
}
 /* landing */
#landing {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7), black),
    
    url(../Images/FCePTzjyCLSCKwbj8393MT\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    border: 2px solid blue;

 
    
}
#btnSubmit2 {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    width: 120px;
    height: 40px;
    /* margin-top: 15%; */
    
    border-radius: 10%;

  }
  
#btnSubmit2:hover {
    background-color: royalblue;
    color:black;
  } 

  a{
    color: black; 
  }

  a:hover{
    color: white;
  }

#con1 {
    margin-bottom: 10%;
}

#filter {
    min-width: 1200px;
    min-height: 80px;
    margin-bottom: 30%;
    background-color: white;
    border: 2px solid blue;
    border-radius: 3%;
    
    box-shadow: black 5px 3px 3px 3px;
    
}


#filter .form-select{
    width: 200px;
}

#filter-heading {
    color: black;
}


/* #btnSubmit1 {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    width: 120px;
    height: 40px;
    margin-top: 15%;
    border-radius: 10%;

  }
  
#btnSubmit1:hover {
    background-color: royalblue;
    color: white;
  } */

#landing>.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 50vh;

}

#logo {

    font-size: 50px;
    color: white;


}

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h3{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
} 
h5{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}


/* listing */
#listing {
    background-color: white;
    height: 350vh;
    margin-top: 2%;
}

/* .card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px blue;
    margin-bottom: 7px;
} */
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow:  6px 10px rgba(25,44,255,.08), 0 0 6px rgba(25,44,255,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  height: 83vh;
  margin-bottom: 20px;
  
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(25, 44, 255, 0.12), 0 4px 8px rgba(25,44,255,.06);
}


/* footer */
#footer {
    background-color: royalblue;
    min-height: 50vh;
    

}
 #info {
    color: white;
    padding-top: 5%;
 }

#submit{
    background-color: white;
    color: black;
    width: 150px;
    height: 200 px;
}


#input {
    width: 300px;
    height: 39px;
   
}

#copyright {
    background-color: blue;
    min-width: 100vw;
    min-height: 15vh;
}

.copy {
    color: white;
    font-size: 30px;
    /* font-weight: bold; */
    padding: 30px;
}

#copy {
    font-size: large;
}
#copyIcon {
    font-size: large;
    padding-left: 250px;
}

#joy {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin-left: 130px   ;
}
#btnSubmit {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
    width: 120px;
    height: 40px;

  }
  
#btnSubmit:hover {
    background-color: royalblue;
    color: white;
  }
  

  /* responsiveness */


  